:root {
  --border-radius: 30px;
  --color-accent: #ff3400;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --color-headings: #1b0760;
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

/*typografy */

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.25s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* badges */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge-small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

.badge-primary {
  background: var(--color-primary);
  color: white;
}

.badge-secondary {
  background: var(--color-secondary);
  color: white;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge-small {
    font-size: 1.2rem;
  }
}

/* lists */

.list {
  color: var(--color-headings);
  list-style: none;
  padding-left: 0;
}

.list-inline .list-item {
  display: inline-block;
  margin-right: 2rem;
}

.list-tick {
  list-style-image: url(../img/tick.svg);
  padding-left: 3rem;
}

.list-tick .list-item {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .list-tick .list-item {
    padding-left: 0;
  }
}

/* icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon-primary {
  fill: var(--color-primary);
}

.icon-white {
  fill: white;
}

.icon-container {
  align-items: center;
  background-color: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}

.icon-container-accent {
  background-color: var(--color-accent);
}

.icon-small {
  width: 30px;
  height: 30px;
}

/* Buttons */

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: white;
}

.btn-secondary:hover {
  background-color: #05cdf0;
}

.btn-accent {
  background-color: var(--color-accent);
  color: white;
}

.btn-accent:hover {
  background-color: #ec3000;
}

.btn-clear {
  background-color: white;
  border: 2px solid var(--color-headings);
  color: var(--color-headings);
}

.btn-clear:hover {
  background-color: var(--color-headings);
  color: white;
}

.btn-block {
  display: inline-block;
  width: 100%;
}

.btn-streach {
  padding-left: 6rem;
  padding-right: 6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* inputs */
.input {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #cdcbd7;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

.input-group {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  box-shadow: 0 0 30px 20px #e6ebee;
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}

.input-group .btn {
  margin: 4px;
}

/* cards */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card-header,
.card-body {
  padding: 2rem 3rem;
}

.card-primary .card-header {
  color: white;
  background-color: var(--color-primary);
}

.card-secondary .card-header {
  color: white;
  background-color: var(--color-secondary);
}

/* plans */

.plan-name {
  color: white;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
}

.plan-price {
  font-size: 6rem;
}

.plan-billing-cicle {
  font-size: 2rem;
  font-weight: 300;
  margin-right: 1rem;
  opacity: 0.8;
}

.card-secondary .badge-secondary {
  background-color: #02cdf1;
}

.card-primary .badge-primary {
  background-color: #126de4;
}

.plan-description {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.plan .list-item {
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.plan-popular .card-header {
  position: relative;
}

.plan-popular .card-header::before {
  content: url(../img/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

@media screen and (min-width: 1024px) {
  .plan-name {
    font-size: 1.4rem;
  }

  .plan-price {
    font-size: 5rem;
  }

  .plan-billing-cicle {
    font-size: 1.6rem;
  }

  .plan-description {
    font-size: 1.7rem;
  }
}

/* Media */
.media {
  display: flex;
}

.media-title {
  margin-top: 0;
  padding-top: 0;
}

.media-body {
  margin-left: 2rem;
}

.media-image {
  margin-top: 1rem;
}

/* Quote */
.quote {
  color: var(--color-body-darker);
  font-size: 3rem;
  font-style: italic;
  line-height: 1.3;
  margin-top: 0;
}

.quote-text::before {
  content: open-quote;
}

.quote-text::after {
  content: close-quote;
}

.quote-name {
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}

.quote-company {
  color: var(--color-headings);
  opacity: 0.4;
  font-size: 1.5rem;
  font-style: normal;
}

.quote-img {
  position: relative;
  bottom: 15px;
}

@media screen and (min-width: 768) {
  .quote {
    font-size: 2rem;
  }
  .quote-name {
    font-size: 2.4rem;
  }

  .qoute-company {
    font-size: 1.6rem;
  }
}

/* grid */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid-cols-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* testimonial */

.testimonial {
  padding: 3rem;
}

.testimonial-image {
  position: relative;
}

.testimonial-image img {
  width: 100%;
}

.testimonial-icon {
  position: absolute;
  top: 3rem;
  right: -30px;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote-name {
    font-size: 2.5rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* callout */
.callout {
  padding: 4rem;
  border-radius: 5px;
}

.callout-primary {
  background-color: var(--color-primary);
  color: white;
}

.callout-content,
.callout-button {
  text-align: center;
}

.callout-button {
  justify-self: center;
  align-self: center;
}

.callout-title {
  color: white;
  margin-top: 0;
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .callout-content {
    text-align: left;
  }

  .callout-button {
    justify-self: start;
    margin: 2rem;
  }

  .callout .grid-cols-2 {
    grid-template-columns: 1fr auto;
  }
}
