<section class="block block-dark block-skewed-rigth control-panel">
  <header class="block-header">
    <h2>User-friendly Control Panel</h2>
  </header>
  <div class="container">
    <div class="grid grid-cols-2">
      <picture class="control-panel-img">
        <source
          type="image/webp"
          srcset="./img/ipad.webp 1x, ./img/ipad@2x.webp 2x"
        />
        <source
          type="image/png"
          srcset="./img/ipad.png 1x, ./img/ipad@2x.png 2x"
        />
        <img src="./img/ipad.png" alt="control panel banner" />
      </picture>
      <div>
        <div class="media">
          <div class="media-image">
            <svg class="icon icon-primary">
              <use xlink:href="./img/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media-body">
            <h3 class="media-title">Easy Start and Manage Updates</h3>
            <p class="media-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
              blanditiis tempore quam dicta officiis recusandae sequi? Aut
              tempore natus vero?
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media-image">
            <svg class="icon icon-primary">
              <use xlink:href="./img/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media-body">
            <h3 class="media-title">Staging, GIT & WP-CLI</h3>
            <p class="media-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
              exercitationem sunt quaerat deleniti, atque laboriosam optio saepe
              perspiciatis at ut ratione, consequatur inventore voluptates?
              Inventore.
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media-image">
            <svg class="icon icon-primary">
              <use xlink:href="./img/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media-body">
            <h3 class="media-title">Dynamic Caching & More</h3>
            <p class="media-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam
              nihil velit blanditiis iure doloremque perspiciatis placeat
              sapiente sunt maiores, sint dolores nam neque fugiat id.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
