<section class="container block block-domain">
  <header class="block-header">
    <h2 class="block-title">Starting at $10 per month</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, odio!
    </p>
    <div class="input-group">
      <input type="text" class="input" placeholder="Enter Domain Name..." />
      <button class="btn btn-accent">
        <svg class="icon icon-white">
          <use xlink:href="./img/sprite.svg#search"></use>
        </svg>
        Search
      </button>
    </div>
    <ul class="list block-domain-prices">
      <li>
        <span class="badge badge-secondary">.com $9</span>
      </li>
      <li><span class="badge">.sg $10</span></li>
      <li><span class="badge">.space $11</span></li>
      <li><span class="badge">.info $14</span></li>
      <li><span class="badge">.net $10</span></li>
      <li><span class="badge">.xyz $10</span></li>
    </ul>
  </header>
</section>
