<div class="container">
  <div class="callout callout-primary callout-get-started">
    <div class="grid grid-cols-2">
      <div class="callout-content">
        <h2 class="callout-title">Ready to Get Started</h2>
        <p class="callout-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur
          alias velit asperiores dignissimos consequatur delectus officiis eaque
          voluptas nemo dolor!
        </p>
      </div>
      <div class="callout-button">
        <a class="btn btn-secondary btn-streach">Get Started</a>
      </div>
    </div>
  </div>
</div>
<footer class="block block-dark">
  <div class="container footer">
    <div class="grid footer-grid">
      <div>
        <div class="collapsible">
          <header class="collapsible-header">
            <h2 class="collapsible-title">Products</h2>
            <span class="icon-container icon-container-dark">
              <svg class="icon icon-white collapsible-icon">
                <use xlink:href="./img/sprite.svg#chevron"></use>
              </svg>
            </span>
          </header>
          <div class="collapsible-content">
            <ul class="list">
              <li class="list-item"><a href="#">Website Hosting</a></li>
              <li class="list-item">
                <a href="#">Free Automated Wordpress</a>
              </li>
              <li class="list-item"><a href="#">Migrations</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <div class="collapsible">
          <header class="collapsible-header">
            <h2 class="collapsible-title">Company</h2>
            <span class="icon-container icon-container-dark">
              <svg class="icon icon-white collapsible-icon">
                <use xlink:href="./img/sprite.svg#chevron"></use>
              </svg>
            </span>
          </header>
          <div class="collapsible-content">
            <ul class="list">
              <li class="list-item"><a href="#">About</a></li>
              <li class="list-item"><a href="#">Affiliates</a></li>
              <li class="list-item"><a href="#">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <div class="collapsible">
          <header class="collapsible-header">
            <h2 class="collapsible-title">Support</h2>
            <span class="icon-container icon-container-dark">
              <svg class="icon icon-white collapsible-icon">
                <use xlink:href="./img/sprite.svg#chevron"></use>
              </svg>
            </span>
          </header>
          <div class="collapsible-content">
            <ul class="list">
              <li class="list-item"><a href="#">Contact</a></li>
              <li class="list-item">
                <a href="#">Knowledge Base</a>
              </li>
              <li class="list-item"><a href="#">FAQ</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <div class="collapsible">
          <header class="collapsible-header">
            <h2 class="collapsible-title">Domains</h2>
            <span class="icon-container icon-container-dark">
              <svg class="icon icon-white collapsible-icon">
                <use xlink:href="./img/sprite.svg#chevron"></use>
              </svg>
            </span>
          </header>
          <div class="collapsible-content">
            <ul class="list">
              <li class="list-item"><a href="#">Domain Checker</a></li>
              <li class="list-item">
                <a href="#">Domain Transfer</a>
              </li>
              <li class="list-item"><a href="#">Free Domain</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-brand">
        <img src="./img/logo.svg" alt="Edufy Logo" />
        <p>Copyright 2021 Eduardo Margulis</p>
      </div>
    </div>
  </div>
</footer>
