<nav class="navbar collapsible">
  <a href="/">
    <img src="./img/logo.svg" alt="Edufy Logo" />
  </a>
  <span class="icon-container icon-container-black">
    <svg class="icon icon-white nav-icon">
      <use xlink:href="./img/sprite.svg#menu"></use>
    </svg>
  </span>
  <ul class="list nav-list collapsible-content">
    <li class="nav-item"><a href="#">Hosting</a></li>
    <li class="nav-item"><a href="#">VPS</a></li>
    <li class="nav-item"><a href="#">Domain</a></li>
    <li class="nav-item"><a href="#">Pricing</a></li>
  </ul>
</nav>
