<section class="container block block-plans">
  <div class="grid grid-cols-3">
    <div class="card card-secondary plan">
      <header class="card-header">
        <h3 class="plan-name">Entry</h3>
        <span class="plan-price">$14</span>
        <span class="plan-billing-cicle">/month</span>
        <span class="badge badge-secondary badge-small">10% OFF</span>
        <span class="plan-description">Easy start on the cloud</span>
      </header>
      <div class="card-body">
        <ul class="list list-tick">
          <li class="list-item">Unlimited Websites</li>
          <li class="list-item">Unlimited Bandwidth</li>
          <li class="list-item">100 GB SSD Sotrage</li>
          <li class="list-item">3 GB RAM</li>
        </ul>
        <button class="btn btn-clear btn-block">Buy now</button>
      </div>
    </div>
    <div class="card card-primary plan plan-popular">
      <header class="card-header">
        <h3 class="plan-name">Bussiness</h3>
        <span class="plan-price">$24</span>
        <span class="plan-billing-cicle">/month</span>
        <span class="badge badge-primary badge-small">20% OFF</span>
        <span class="plan-description">Optimal Cloud Experince</span>
      </header>
      <div class="card-body">
        <ul class="list list-tick">
          <li class="list-item">Unlimited Websites</li>
          <li class="list-item">Unlimited Bandwidth</li>
          <li class="list-item">200 GB SSD Sotrage</li>
          <li class="list-item">3 GB RAM</li>
          <li class="list-item">2 CPU Cores</li>
        </ul>
        <button class="btn btn-clear btn-block">Buy now</button>
      </div>
    </div>
    <div class="card card-secondary plan">
      <header class="card-header">
        <h3 class="plan-name">Bussiness Plus</h3>
        <span class="plan-price">$54</span>
        <span class="plan-billing-cicle">/month</span>
        <span class="badge badge-secondary badge-small">10% OFF</span>
        <span class="plan-description">Easy start on the cloud</span>
      </header>
      <div class="card-body">
        <ul class="list list-tick">
          <li class="list-item">Unlimited Websites</li>
          <li class="list-item">Unlimited Bandwidth</li>
          <li class="list-item">200 GB SSD Sotrage</li>
          <li class="list-item">6 GB RAM</li>
          <li class="list-item">2 CPU Cores</li>
        </ul>
        <button class="btn btn-clear btn-block">Buy now</button>
      </div>
    </div>
  </div>
</section>
