<blockquote class="quote">
  <p class="quote-text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos
    mollitia eveniet quos dicta numquam sunt doloremque quam a adipisci
    accusamus!
  </p>
  <footer>
    <div class="media">
      <div class="media-image">
        <svg class="icon icon-primary quote-img">
          <use xlink:href="./img/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media-body">
        <h3 class="media-title quote-name">John Smith</h3>
        <p class="media-text quote-company">A company</p>
      </div>
    </div>
  </footer>
</blockquote>
